# Application settings
APP_NAME=My Python App
APP_DESCRIPTION=Python App Barebones
APP_VERSION=0.1.0
APP_DATA_DIR=data
# logging settings
LOGGING_LEVEL=INFO
LOGGING_FORMAT=[%(levelname)s|%(module)s|line:%(lineno)d] %(asctime)s: %(message)s
LOGGING_DATE_FORMAT=%Y-%m-%d %H:%M:%S