# Application settings
APP__NAME=My Python App
APP__DESCRIPTION=Python App Barebones
APP__VERSION=0.1.0
APP__DATA_DIR=data
# logging settings
LOGGING__LEVEL=INFO
LOGGING__FORMAT=[%(levelname)s|%(module)s|line:%(lineno)d] %(asctime)s: %(message)s
LOGGING__DATE_FORMAT=%Y-%m-%d %H:%M:%S